body{
background-color: black;
}

.contenedor{
    display: flex;
    background-color: darkred;
}

.card{
    margin-left: 5%;
    margin-block-start: 2%;
}

img{
    height: 200px;
}

p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
}

h5{
    font-size: 32px;
}
